In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("iris.csv")

In [3]:
df

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [4]:
df_grouped = df.groupby("variety")

In [34]:
for group in df_grouped:
    print(len(group[1].columns))
    np_group = group[1].to_numpy()
    print(np_group[0][4])

5
Setosa
5
Versicolor
5
Virginica

<class 'pandas.core.groupby.generic.DataFrameGroupBy'>

In [20]:
print("Hello")

Hello

In [35]:
len(df_grouped)

3

In [36]:
import os

In [37]:
os.system("wilkslambda.py")

1

In [38]:
import wilkslambda

In [39]:
sample_size = 50

In [40]:
wilks_lambda_value = wilkslambda.wilks_lambda_analysis(df_grouped, sample_size)

In [41]:
wilks_lambda_value

np.float64(0.023438630650878423)